*, *:visited {
    color: #2E361C!important;
    font-family: 'Libre Baskerville', serif;
    line-height: 2em;
}

.bg-custom {
    background-color: #EEF1E4;
}

body {
    background-color: #EEF1E4;
}

.name {
    letter-spacing: 0.15em;
    font-weight: 700;
}

.nav-link:hover, .navbar-brand:hover, a:hover {
    color: #AEC185!important;
    cursor: pointer!important;
    text-decoration: none!important;
}

.showcase {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 2px 4px 4px 4px rgba(174, 193, 133, 0.5);
    -webkit-box-shadow: 2px 4px 4px rgba(174, 193, 133, 0.5);
    -moz-box-shadow: 2px 4px 4px 4px rgba(174, 193, 133, 0.5);
}

#landing-img {
    margin-bottom: 100px;
    margin-top: 100px;
}

.show-img {
    border-radius: 10px 10px 4px 4px;
    background-color: white;
    display: block;
    object-fit: contain;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.project-img {
    border-radius: 10px 10px 4px 4px;
    background-color: #EEF1E4;
    border-color: #EEF1E4;
    border-width: 1px;
    border-style: solid;
    display: block;
    object-fit: contain;
    width: 500px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.showcontainer {
    padding: 50px!important;
}

.projectName {
    font-weight: 700;
}

.projectDesc {
    font-style: italic;
}

.blackbox {
    background-color: black; 
    border-radius: 13px; 
    border-color: gray; 
    border-width: 1.5px;
    border-style: solid;
    width: 200px; 
    height: 65px; 
    margin: 15px;
}

.comingsoon {
    color: #FFFFFF!important;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 12px;
}

.appstore {
    color: #FFFFFF!important;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 24px;
    line-height: 0.5;
}

#landing {
    min-height: 100vh;
}

@media (max-width: 800px) {
    .landing-content {
      text-align: center!important;
    }

    .showcontainer {
        padding: 10px!important;
    }
}